            /* CODE GENERAL */
            
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, "sans-serif";
    font-size: 15px;
}
h1 {
    font-family: "Crete Round", serif;
    font-size: 40px;
    color: #444;
    
}
h2 {
    color: #444;
    font-size: 50px;
}




            /* CODE SPECIFIQUE */

/* header */

.orange {
    color: #ff7a00;

}

header {
    height: 120px;
}
header h1 {
    float: left;
    margin-top: 30px;
    
}
header nav {
    float: right;
    margin-top: 55px;
  
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    
    
   
}
li {
    
    
    margin: 0 15px;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    color: #444;
    font-weight: bold;
}

/*  BANNER */

#banner {
    background: url("./assets/image2.jpg") center;
    height: 580px;
    width: 90%;
    margin: auto;
    border: 10px solid #444;
    
}
#banner h2 {
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 40px 0 40px 0;
    text-shadow: 1px 0px 2px #ff7a00, 0 0 1em blue, 0 0 0.4em blue;

}
.bold {
    font-weight: bold;
}
.button {
    font-size: 18px;
    padding: 10px 15px;
    background-color: #ff7a00;
    color: #444;
    border-radius: 5px;
    text-align: center;
    float: right;
    margin-right: 30%;
}
.button:hover {
    opacity: 0.7;
}